.service {
  margin: auto;
  width: 90%;
}
.service .heading {
  font-size: 50px;
  line-height: 62px;
  color: #001d38;
  z-index: 0;
  padding-bottom: 15px;
  font-family: sans-serif;

  font-family: "Roboto Slab", sans-serif;
  margin: 60px 0;
}
.service .project_info {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  justify-content: center;

  padding: 25px;
  height: 400px;

  /* width: 100%; */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.service .project_info::-webkit-scrollbar {
  display: none;
}
