.card_component {
  object-fit: contain;
  width: 340px;
  height: 410px;
  margin-right: 40px;
  border: 1px solid rgba(155, 150, 155, 0.5);
  transition: transform 450ms;
  position: relative;
}
.card_component:hover {
  transform: scale(1.08);
}
.Project_name {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  margin: 10px 20px;
}

.project__about {
  margin: 0px 20px;
  font-size: 13px;
  width: 85%;
}
.button_css {
  position: absolute;
  bottom: 12px;
  margin-left: 20px;
}
.banner {
  background-color: rgba(140, 20, 252, 1);
  color: white;
  border-radius: 15%;
  width: 50%;
  height: 10%;
  text-decoration: none;
  text-align: center;
}
a span {
  text-decoration: none;
  /* color: rgba(225, 0, 0, 1); */
  color: #623ed9;
}

.boxed-btn {
  /* background: rgba(140, 20, 252, 1); */
  display: inline-block;
  padding: 11px 38px;
  font-family: "Muli", sans-serif;
  font-size: 14px;
  font-weight: 500;
  /* border: 1px solid rgba(225, 0, 0, 1); */
  border: 1px solid #623ed9;
  border-radius: 10px;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  text-decoration: none;
}
.boxed-btn:hover {
  color: #615cfd !important;
  transition: 1s ease;
  /* background: rgba(225, 0, 0, 1); */
  background: #623ed9;
  text-decoration: none;
  padding: 11px 45px;
}

.boxed-btn:hover span {
  color: white;
}

